<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.couldflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="navAndFooter.css">
  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <%- include ('partials/navbar.ejs') %>
  <br>
  <br>
  <br>
  <section>
    <center>
      <div class="box">
        <h3> Kyçu si administrator </h3>
        <br>
        <form method="POST" action="kycu_admin_btn">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">Emaili:</label>
                <input type="text" class="form-control" id="usr" name="kycu_admin_username">
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="usr">Password:</label>
                <input type="password" class="form-control" id="usr" name="kycu_admin_password">
              </div>

              <input type="submit" value="Submit" class="btn btn-danger">
        </form>
      </div>
    </center>
  </section>
  <br>
  <br>
  <br>

  <div class="container">
    <section style="height:80px;"></section>
    <!----------- Footer ------------>
    <%- include ('partials/footer.ejs') %>
  </div>

</body>

</html>