<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.couldflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="navAndFooter.css">
  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <%- include ('partials/navbar.ejs') %>
  <br>
  <br>
  <br>

  <center>
    <h3> <b> Regjistrohu si administrator </b> </h3>

    <form>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="usr">Emri:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="usr">Mbiemri:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="usr"> Id e punes :</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="usr">Emri i spitalit:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="usr">Email i spitalit:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>


    </form>
    <br>
    <br>

    <button type="submit" id="butoni" style="width:200px" class="btn-danger ">Regjistrohu</button>
  </center>
  <div class="container">
    <section style="height:80px;"></section>

    <!----------- Footer ------------>
    <%- include ('partials/footer.ejs') %>
  </div>
</body>

</html>